{% extends 'base.html.twig' %}

{% block title %}Edit ProjectPicture{% endblock %}

{% block body %}
    <h1>Edit ProjectPicture</h1>

    {{ include('project_picture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('project_picture_index') }}">back to list</a>

    {{ include('project_picture/_delete_form.html.twig') }}
{% endblock %}
